
.container-fluid
    .page-header
    // things we need
    // contestFile
    // importDir
    .row
        .col-lg-1.col-md-2.col-sm-4.col-xs-6
            h4 Server IP
        .col-lg-2.col-md-4.col-sm-8.col-xs-12
            h4 #{serverIP}
    .row
        .col-lg-6.col-md-8.col-sm-12
            form(role='form',action='/admin', method='POST')
                .row
                    .col-lg-12
                        .panel.panel-primary
                            .panel-heading
                                h4.panel-title Excel-based Scoring Discovery
                            .row
                                .col-lg-2.col-md-4.col-sm-6.col-xs-12
                                    .text-right
                                        Excel Contest ID:
                                .col-lg-10.col-md-8.col-sm-6.col-xs-12
                                    input(type="textarea", class="form-control", id="contestId", name="contestId")
                .row
                    .col-lg-12
                        .panel.panel-primary
                            .panel-heading
                                h4.panel-title MasterScoring connection setup
                            .row
                                .col-lg-2.col-md-4.col-sm-6.col-xs-12.text-right
                                    .text-right
                                        Contest File:
                                .col-lg-10.col-md-8.col-sm-12.col-xs-12
                                    input(type="textarea", class="form-control", id="contestFile", name="contestFile")
                            .row
                                .col-lg-2.col-md-4.col-sm-6.col-xs-12.text-right
                                    .align-right
                                        Import Directory:
                                .col-lg-10.col-md-8.col-sm-12.col-xs-12
                                    input(type="textarea", class="form-control", id="importDir", name="importDir")
                .row
                    button(type="submit" class="btn btn-primary") Update


