.elasticbeanstalk/
/node_modules/
/.idea/
/data/
/scoreExport/
/scoreImport/
/MasterScoreExport/
*.json
/projectFilesBackup/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
