/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.zero {
    background: #E60000;
}

.one {
    text-align: center;
    background: #E52200;
}

.two {
    text-align: center;
    background: #E44501;
}

.three {
    text-align: center;
    background: #E46701
}

.four {
    text-align: center;
    background: #E38902
}

.five {
    text-align: center;
    background: #E3AA03
}

.six {
    text-align: center;
    background: #E2CB03
}

.seven {
    text-align: center;
    background: #D7E104
}

.eight {
    text-align: center;
    background: #B5E104
}

.nine {
    text-align: center;
    background: #94E005
}

.ten {
    text-align: center;
    background: #74E006
}

