# If you do not specify a namespace, the default used is aws:elasticbeanstalk:application:environment
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: production
  - option_name: MONGOCONNECTION
    value: patternscoring:patternscoring@ds047159-a0.mongolab.com:47159

